
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
}


header{
    background-color: #000000;
    height: 40px;
    width: 100%;
    display: flex;
}

.logo-img{
    height: 40px;
    padding-left: 30px;
}

.menu{
    display: flex;
    width: 100%;
    padding-right: 50px;
}

.menu-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
    font-family: Catamaran, 'sans-serif';
    font-size: 16px;
}

body {
    background-color: #EFEDEB;
}

.product-title{
    margin: 3%;
    display: flex;
    justify-content: center;
    font-family: Catamaran, 'sans-serif';
    font-size: 50px;
    font-weight: 300;
}

.product-section-1{
    margin: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.product-section-2{
    padding-right: 300px;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: -170px;

}

.product-img-1{
    margin-right: 800px;
}

.product-img-2{
    margin-right: 500px;
}

.product-rede-social-1{
    position: relative;
    top: -120px;
    font-size: 30px;
    font-weight: 400;
    font-family: Catamaran, 'sans-serif';
    margin-right: 170px;
}

.product-rede-social-2{
    position: relative;
    top: -120px;
    font-size: 30px;
    font-weight: 400;
    font-family: Catamaran, 'sans-serif';
    margin-right: 150px;
}

.product-btn-1{
    font-size: 16px;
    background: #BFA37E;
    border-radius: 30px;
    color: #000000;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    height: 40px;
    margin-right: 170px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -130px;
}

.product-btn-2{
    font-size: 16px;
    background: #BFA37E;
    border-radius: 30px;
    color: #000000;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -130px;
    margin-right: 150px;
}

.form-title{
    margin: 3%;
    display: flex;
    justify-content: center;
    font-family: Catamaran, 'sans-serif';
    font-size: 25px;
    font-weight: 300;
    margin-top: -100px;
}
.sub-title{
    font-family: Catamaran, 'sans-serif';
    font-size: 23px; 
}
.box-select{
    display: flex;
    justify-content: center;
    font-weight: bold;
    gap: 1rem;
}
.custom-checkbox input,
.custom-radio input{
  display: none;
}

.custom-checkbox input + label:before {
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid gray;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 3px;
}

.custom-checkbox input:checked + label:before {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
  background-color: rgb(211, 162, 127);
  background-position: center;
  border: none;
  padding: 1px;
}

.custom-radio input + label:before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid gray;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 3px;
}

.custom-radio input:checked + label:before {
  background-color: white;
  box-sizing: border-box;
  border: 5px solid red;
  padding: 4px;
}

.container {

    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin: 0 auto;
    padding: 4%;
    background: #e6d5be;
    border-radius: 15px;
    font-family: Catamaran, 'sans-serif';
    font-weight: 600;
    font-size: 18px;
   
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin-right: 50px;
    padding: 4%;
    background: #e6d5be;
    border-radius: 15px;
    font-family: Catamaran, 'sans-serif';
    font-weight: 600;
    font-size: 18px;
}
.span-required{
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: var(--color-red);
    display: none;
}




input,
textarea{
    border-radius: 1.125rem;
    height: 15px;
    width: 370px;
    padding: 20px;
    border: 0.125rem solid transparent;
    transition: border-color 0.3s;
    box-shadow: 0.3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: #b8733b;
    box-shadow: 0000.3125rem #8b5742;
}

button{
    
    padding: 1.25rem;
    width: 100%;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    background: #d3a27f;

}




.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 8px;
    margin-top: 200px;
    background-color: #e6d5be;
    list-style-type: none;
}

.footer-img{
    width: 35px;
}
