@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Catamaran, 'sans-serif';
}


header{
    background-color: #000000;
    height: 40px;
    width: 100%;
    display: flex;
}

body{
   
    background-color: #EFEDEB;
}

.logo-img{
    height: 40px;
    padding-left: 30px;
}

.menu{
    display: flex;
    width: 100%;
    padding-right: 50px;
}
/* Formata o menu links */
.menu-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
/* Formata o titulo Quem somos */
.quemsomos-title{
    margin: 3%;
    display: flex;
    justify-content: center;
   font-size: 50px;
    font-weight: 300;
}


/* Formata a imagem após o titulo */
#quemsomos-img{
    display: flex;
    flex-direction: column;
    width: 630px;
    margin:0px auto;
    gap: 10px;
   
}


img{
 
    filter: drop-shadow(10px 10px 10px rgba(146, 146, 137, 0.425));
}

/* Formata o paragrafo */
.quemsomos-paragrafo{
    display: flex;
    justify-content: center;
    gap: 40px;                  
    margin-top: 50px;
    margin: 3%;
    text-align: justify;
    font-size: 20px;
    /* espaçamento */
    line-height:25px;
}
.texto{
    display: flex;
    justify-content: center;
    gap: 40px;                  
    margin-top: 50px;
    margin: 3%;
    text-align: justify;
    font-size: 17px;
    /* espaçamento */
    line-height:25px;
}

.textos{
    display: flex;
    justify-content: center;
    gap: 40px;                  
    margin-top: 50px;
    margin: 3%;
    text-align: justify;
    font-size: 17px;
    /* espaçamento */
    line-height:25px;
}



/* Formata as 4 imagens após o titulo */
.quemsomos-section-2{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 40px;                  
    margin-top: 70px;
    margin: 3%;


 
}

/* formata os 4 titulos abaixo das 4 imagens */
.titulo{
    display: flex;
    justify-content: center; 
}
/* Alinhar as imagens laterais Colaboradores e parceiros */
.alinhar{
    display: flex;
    justify-content: center;
    gap: 40px;                  
    margin-top: 70px;
    margin: 3%;
    
}
   
.item{
display: flex; 
flex-direction: column; 
text-align: center; 
width: 80%; 

}

.item img {
max-width: 800px; 
height: auto; 

}



.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 8px;
    margin-top: 200px;
    background-color: #e6d5be;
    list-style-type: none;
}

.footer-img{
    width: 35px;
}


